<h1>New Entry</h1>

<%= form_with model: @entry do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :posted_on %>
    <%= form.date_field :posted_on %> <!-- Use date_field for date input -->
  </p>
  <p>
    <input type="hidden" name = "place_id" id ="place_id" value="<%= params["place_id"]%>">
  </p>
  <%= form.submit %>
<% end %>
